:root {
    --celeste: #4fc3d9;
    --gris: #e3e3e3;
}

.node {
    width: 45px;
    height: 45px;
    border: 1px solid black;
}

.node-start {
    background-image: url("/src/images/icons/right-arrow.png");
    background-size: contain;
}

.node-end {
    background-image: url("/src/images/icons/flag.png");
    background-size: contain;
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes visitedAnimation {
    0% {
        transform: scale(0.5);
        background-color: #7D387D;
        border-radius: 20%;
    }

    50% {
        background-color: #fdbd57;
    }

    75% {
        transform: scale(1.1);
        background-color: #fdbd57;
    }

    100% {
        transform: scale(1);
        background-color: #fdbd57;
    }
}

.node-visited-dot {
    animation-name: visitedAnimationStart;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimationStart {
    0% {
        transform: scale(0.5);
        background-color: #7D387D;
        border-radius: 20%;
        background: url("/src/images/icons/start-visited.png"), #7D387D;
        background-size: contain;
        background-repeat: no-repeat;
    }

    50% {
        background: url("/src/images/icons/start-visited.png"), #fdbd57;
        background-size: contain;
        background-repeat: no-repeat;
    }

    75% {
        transform: scale(1.1);
        background: url("/src/images/icons/start-visited.png"), #fdbd57;
        background-size: contain;
        background-repeat: no-repeat;
    }

    100% {
        transform: scale(1);
        background: url("/src/images/icons/start-visited.png"), #fdbd57;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.node-wall {
    background-color: rgb(12, 53, 71);
    animation-name: wallAnimation;
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

/*@keyframes wallAnimation {
    0% {
        transform: scale(0.8);
        border-radius: 10%;
    }

    75% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}*/

.node-shortest-path-l {
    animation-name: shortestPathL;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-shortest-path-r {
    animation-name: shortestPathR;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-shortest-path-u {
    animation-name: shortestPathU;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-shortest-path-d {
    animation-name: shortestPathD;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-shortest-path-d {
    animation-name: shortestPathD;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-shortest-path-end {
    animation-name: shortestPathEnd;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPathL {
    0% {
        transform: scale(0.6);
        background: url("/src/images/icons/left-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    70% {
        transform: scale(1.2);
        background: url("/src/images/icons/left-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    100% {
        transform: scale(1);
        background: url("/src/images/icons/left-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes shortestPathR {
    0% {
        transform: scale(0.6);
        background: url("/src/images/icons/right-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    70% {
        transform: scale(1.2);
        background: url("/src/images/icons/right-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    100% {
        transform: scale(1);
        background: url("/src/images/icons/right-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes shortestPathU {
    0% {
        transform: scale(0.6);
        background: url("/src/images/icons/up-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    70% {
        transform: scale(1.2);
        background: url("/src/images/icons/up-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    100% {
        transform: scale(1);
        background: url("/src/images/icons/up-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes shortestPathD {
    0% {
        transform: scale(0.6);
        background: url("/src/images/icons/down-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    70% {
        transform: scale(1.2);
        background: url("/src/images/icons/down-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    100% {
        transform: scale(1);
        background: url("/src/images/icons/down-arrow.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes shortestPathEnd {
    0% {
        transform: scale(0.6);
        background: url("/src/images/icons/flag.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    70% {
        transform: scale(1.2);
        background: url("/src/images/icons/flag.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }

    100% {
        transform: scale(1);
        background: url("/src/images/icons/flag.png"), var(--celeste);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.node-guide-visited {
    background-color: #fdbd57;
}

.node-guide-path {
    background-color: var(--celeste);
}

.node-guide-wall {
    background-color: rgb(12, 53, 71);
}

@media only screen and (max-width: 1920px) {
    .node {
        width: 33px;
        height: 33px;
    }
}

@media only screen and (max-width: 1280px) {
    .node {
        width: 28px;
        height: 28px;
    }
}

@media only screen and (max-width: 414px) {
    .node {
        width: 17px;
        height: 17px;
    }

    .node-start {
        transform: rotate(90deg);
    }

    .node-end {
        transform: rotate(90deg);
    }

    @keyframes shortestPathEnd {
        0% {
            transform: scale(0.6);
            background: url("/src/images/icons/flag-rotated.png"), var(--celeste);
            background-size: contain;
            background-repeat: no-repeat;
        }

        70% {
            transform: scale(1.2);
            background: url("/src/images/icons/flag-rotated.png"), var(--celeste);
            background-size: contain;
            background-repeat: no-repeat;
        }

        100% {
            transform: scale(1);
            background: url("/src/images/icons/flag-rotated.png"), var(--celeste);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}