:root {
  --celeste: #4fc3d9;
  --gris: #e3e3e3;
}

html,
body {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  overflow: hidden;
  height: 100%;
}

/* NAVBAR */
.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  background: var(--gris);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-logo {
  width: 50px;
  margin-left: 15px;
  position: relative;
  top: 3px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.nav-icon {
  position: relative;
  bottom: -10px;
  width: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  overflow: visible;
}

.nav-items {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-items>li {
  position: relative;
  bottom: 5px;
  padding-left: 20px;
  padding-right: 30px;
  transition: 0.2s;
}

.nav-items>li>a {
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  transition: all 250ms ease;
  overflow: visible;
}

.nav-items>li>a:hover {
  color: var(--celeste);
  fill: var(--celeste);
}

.openModalBtn {
  background-color: var(--gris);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.2s;
  animation-name: blink;
  animation-duration: 2.5s;
}

@keyframes blink {
  0% {color: black; fill: black;}
  15% {color: var(--celeste); fill: var(--celeste);}
  30% {color: black; fill: black;}
  45% {color: var(--celeste); fill: var(--celeste);}
  60% {color: black; fill: black;}
  75% {color: var(--celeste); fill: var(--celeste);}
  100% {color: black; fill: black;}
}

.openModalBtn:hover {
  cursor: pointer;
  color: var(--celeste);
  fill: var(--celeste);
}

/* ----- index.html ----- */

/* TUTORIAL */
.welcome-box {
  width: clamp(30%, 700px, 90%);
  height: 650px;
  opacity: 1;
  position: relative;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 50px;
  padding: 2%;
  color: #1b3a41;
  text-align: center;
  border: 3px;
  border-radius: 30px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.welcome-box>div>h3 {
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 0;
  line-height: 100%;
}

.welcome-box>div>p {
  font-size: 24px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 125%;
}

.welcome-box>div>img {
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.buttonBar {
  position: relative;
  padding-top: 30px;
  flex-direction: column;
  display: grid;
  grid-template-columns: 9fr 1fr 1fr;
  column-gap: 10px;
}

#hide {
  opacity: 0;
  cursor: default;
}

.tutorialBtn {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  width: fit-content;
  height: 35px;
  font-size: 20px;
  position: relative;
  background-color: white;
  border: none;
  color: black;
  border: solid 1px black;
  border-radius: 45px;
  transition: 200ms;
}

.tutorialBtn:hover {
  background-color: var(--celeste);
  color: white;
  cursor: pointer;
}

/* DARK BACKGROUND */
.backdrop {
  background-color: rgba(0, 0, 0, 0.288);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}